body {
    margin: 0;
    font-family: Arial;
    background-color: #fff7fa;
    color: #333333;
}

header {
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #c45a7a;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

header a {
    color: #333333;
    font-weight: bold;
}

header a:hover {
    color: #c45a7a;
}

.ativo {
    color: #c45a7a;
}

main {
    padding: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.hero-text {
    flex: 1;
}

.hero-imagem {
    flex: 1;
}

.hero-imagem img {
    width: 100%;
    height: 300px;
    border-radius: 12px;
    object-fit: cover;
}

.destaque {
    color: #c45a7a;
    font-size: 14px;
    font-weight: bold;
}

h1 {
    font-size: 40px;
}

h1 span,
h2 span {
    color: #c45a7a;
}

.botao {
    background-color: #c45a7a;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}

.botao:hover {
    background-color: #a94463;
}

.secundario {
    background-color: #ffffff;
    color: #c45a7a;
}

#destaques {
    padding: 30px;
}

#destaques > article {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
}

.card {
    background-color: #ffffff;
    padding: 20px;
}

.card h3 {
    color: #c45a7a;
}

.icone {
    font-size: 30px;
}

.chamada {
    background-color: #f8dce5;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.topo-pagina {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topo-pagina h1 {
    font-size: 35px;
}

.topo-pagina span {
    color: #c45a7a;
}

.pequeno {
    color: #c45a7a;
    font-size: 14px;
    font-weight: bold;
}

.produtos {
    padding: 30px;
}

.titulo-secao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-secao h2 {
    font-size: 25px;
}

.grid-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.produto {
    background-color: #ffffff;
    padding: 15px;
    flex: 1;
}

.produto img {
    width: 100%;
    height: 150px;
    border-radius: 12px;
    object-fit: contain;
}

.produto h3 {
    font-size: 15px;
}

.preco {
    color: #c45a7a;
    font-weight: bold;
}

.curiosidades-conteudo {
    display: flex;
    gap: 30px;
}

.imagem-curiosidade {
    background-color: #ffffff;
    padding: 30px;
    flex: 1;
}

.imagem-curiosidade .lua {
    font-size: 40px;
}

.imagem-curiosidade h2 {
    color: #333333;
}

.lista-curiosidades {
    flex: 2;
}

.fato {
    display: flex;
    gap: 20px;
    background-color: #ffffff;
    padding: 15px;
}

.numero {
    color: #c45a7a;
    font-weight: bold;
}

.fato h3 {
    color: #333333;
}


footer {
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}

.footer-botoes {
    display: flex;
    gap: 20px;
}

footer a {
    color: #ffffff;
    font-weight: bold;
}

footer a:hover {
    color: #c45a7a;
}